<template>
  <p class="order">Ordered by {{ order }}</p>
  <transition-group name="list" class="job-list" tag="ul">
    <li v-for="job in orderedList" :key="job.id" class="job">
      <h2 class="job--title">{{ job.title }} in {{ job.location }}</h2>
      <div class="job--salary">{{ job.salary }} USD</div>
      <hr color="#ececec" size="1" />
      <div class="job--description">Some discription</div>
    </li>
  </transition-group>
</template>

<script lang="ts">
import { Job } from '@/types/Job'
import { OrderTerm } from '@/types/OrderTerm'
import { computed, defineComponent, PropType } from 'vue'

export default defineComponent({
  props: {
    list: {
      type: Array as PropType<Job[]>,
      required: true,
    },
    order: {
      type: String as PropType<OrderTerm>,
      required: true,
    },
  },
  setup(props) {
    const orderedList = computed(() => {
      return [...props.list].sort((a: Job, b: Job) => {
        return a[props.order] > b[props.order] ? 1 : -1
      })
    })

    return { orderedList }
  },
})
</script>

<style scoped>
.job-list {
  list-style: none;
}

.list-move {
  transition: all 200ms;
}

.order {
  margin: 32px 0 16px 0;
}

.job {
  padding: 24px 16px;
  box-shadow: 0px 4px 16px rgba(229, 229, 229, 0.6);
  margin-bottom: 12px;
  border-radius: 6px;
}

.job--salary {
  margin: 10px 0;
  font-size: 18px;
}

.job--description {
  margin-top: 14px;
}
</style>
