<template>
  <div class="container">
    <header class="header">
      <button class="header--button" @click="handleClick('title')">
        Order by title
      </button>
      <button class="header--button" @click="handleClick('salary')">
        Order by salary
      </button>
      <button class="header--button" @click="handleClick('location')">
        Order by location
      </button>
    </header>
    <JobList :list="jobs" :order="order" />
    <div></div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import type { Job } from './types/Job'
import type { OrderTerm } from './types/OrderTerm'
import JobList from './components/JobList.vue'

export default defineComponent({
  name: 'App',
  components: { JobList },
  setup() {
    const jobs = ref<Job[]>([
      {
        title: 'Recruiter',
        id: 0,
        salary: 90000,
        location: 'San Francisco',
      },
      {
        title: 'Middle Java Developer',
        id: 1,
        salary: 120000,
        location: 'London',
      },
      {
        title: 'Account Manager',
        id: 2,
        salary: 115000,
        location: 'Frankfurt',
      },
      {
        title: 'Senior Vue Developer',
        id: 3,
        salary: 150000,
        location: 'Frankfurt',
      },
      {
        title: 'Lead Software Engineer',
        id: 4,
        salary: 170000,
        location: 'Frankfurt',
      },
    ])

    const order = ref<OrderTerm>('title')

    const handleClick = (term: OrderTerm) => {
      order.value = term
    }

    return { jobs, handleClick, order }
  },
})
</script>

<style>
.container {
  width: calc(100% - 32px);
  margin: auto;
  max-width: 1100px;
}

.header {
  padding: 24px 0;
}

.header--button {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent;
  padding: 6px 14px;
  margin: 0 12px 0 0;
  cursor: pointer;
}
</style>
